/*Sección principal*/
.cabecera{
    background: #FFFFFF;
}

.seccion_ppal{
    width: 100%;
    padding: 1rem 2rem;
}

.caja_ppal{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.formulario_buscador{
    display: flex;
    align-items: center;
}

.buscador{
    width: 400px;
    height: 40px;
    background: #F5F5F5;
    border-style: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    border-radius: 20px 0 0 20px;
    padding-left: 16px;
    outline: none;
}

.btn_lupa{
    height: 40px;
    background: #F5F5F5;
    border-style: none;
    border-radius: 0px 20px 20px 0px;
    cursor: pointer;
}

.fa{
    margin-right: 15px;
    color: #A2A2A2;
}

.btn_login{
    box-sizing: border-box;
    color: #2a7ae4;
    border: 2px solid #2a7ae4;
    width: 150px;
    height: 40px;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Raleway';
    font-size: 14px;
    font-weight: 600; 
}

.btn_login:hover{
    background: #D4E4FA;
}

/*Banner*/

.banner_promocional{
    height: 360px;
    background: url("../assets/banner.png") center / cover no-repeat;
}

.banner_promocional__text{
    width: 100%; 
    height: auto;
    padding: 70px 32px;
}

.title_promocional{
    color: #FFFFFF;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
}

.descripcion_promocional{
    color: #FFFFFF;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
}

.btn_promocional{
    color: #FFFFFF;
    background: #2A7AE4;
    width: 129px;
    height: 51px;
    border-style: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
}
.btn_promocional:hover{
    background: #5595E9;
}

.banner_promocional{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.banner_promocional__text{
    display: flex;
    flex-direction: column;
}

/*Responsive*/

